div#main{
    margin: auto;
    width: 400px;
    background-color: orange;
border: 1px solid #000;
padding: 10px;


}

.img {
width: 800px;
height: 400px;
padding-bottom: 40px;
padding-left: 35px;
padding-top: 10px;
padding-right: 20px;

border-right: 40px;
border-bottom: 15px;
border-left: 10px;
border-top: 20px;

margin-right: 10px;
margin-bottom: 15px;
margin-left: 12px;
margin-top: 8px;

border: 7px, inset, rgb(155, 207, 102);
}

#conatiner-texto {
width: 400px;
margin-top: 30px,50px;
background-color: rgb(131, 199, 216);
height: 150px;
border: 2px, dashed, gray;
overflow: auto;}

.texto {
color: dimgrey;
font-weight: bold;
text-decoration:underline;}