@charset "UTF8";


@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kode+Mono&display=swap');



*{padding: 0px;
    margin: 0px;
}
:root{
    --cor0:#6769F5;
    --cor1:#1C1FE6;
    --cor2:#1C5FE6;
    --cor3:#1CDFE6;
    --cor4:#5A1CE6;
    --cor5:#000000;
    --cor6:#080808f1;
    --cor7:#000000;
    --texto-font0:#016E8E;
    --texto-fonte1:#D7F4EA;
    --font_padrão: arial, verdana, helvetica, sans-serif;
    --font_destaque:  "Anta", sans-serif ;
    --font_texto: "Kode Mono", monospace;;   
    --font04: ;


}



body{
    background-color: var(--texto-font0); }
    
    a.external::after{
       content: "\1F517";
       color: var(--texto-fonte1);
    }

    header{
        
        background-color: var(--cor5);
        text-align: center;
        box-shadow: 3px 2px 2px #00000031;
       }

        .logo{background-color: var(--cor5);;
            padding: 0% 42% 0% 42%;
       }

       main h1{
        padding-top: 3%;
        color: var(--texto-fonte1);
        font: normal 70px var(--font_destaque);
       
       }

      main h2{
        background-image:linear-gradient( 95deg ,  #175a6eab,transparent);
        border-radius: 15px;
        color: var(--texto-fonte1);
         font: normal 30px var(--font_texto);
         margin: 15px 0px;
      
      } 

      main h3{
        color: var(--texto-fonte1);
        font: normal 25px var(--font_texto); 
        margin: 15px 0px;
      }

      li{
        color: var(--texto-fonte1);
         font:normal 1em var(--font02); 
      }

nav{display: flex;
     background-color: #000000d0;
     padding-left: 2%;
     padding-right: 50%;
     padding-top: 0.5%;
     padding-bottom: 0.3%;
     margin-left: 0%;
     box-shadow: 0px 0px 33px 4px black;
  
    .menu{
        background-color: #000000;
    }

}

 nav > a {
        text-decoration: none;
        font-weight: bolder;
        padding: 5px;
        transition-duration: .3s;
        margin-right: 120px;
        color: #EDF3F5;
    }

  nav > a:hover{
    background-color: #043a4bee;
    border-radius: 10px;
     text-decoration: dotted;

    }



main{background-color: #000000;
   margin-right: 30.3%;
    margin-left: 30.3%;
    margin-top: 1%;
    padding-left: 1.5%;
    padding-right:1.5% ;
    min-width: 350px;
    max-width: 1370px;
    margin: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.61);
    


}

main strong{
    color: #12b9ecf6;

}

main a{
    color: #66e3e7e5;
    text-decoration: none   ;
}

main a:hover{
text-decoration: underline;
background-color: #054f8b57;

}

aside{
    background-color:#6769f575 ;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    box-shadow: 3px 3px 36px rgba(255, 255, 255, 0.322);
}

aside > ol {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    font-size: 1.2em;
}

aside > h3{
    background-color: #1788aaaf;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

footer{
    background-color: rgba(32, 158, 216, 0.466);
    text-align: center;
    color: aliceblue;
    font-size: 1.3em;
    font-weight: bolder;
    margin: 5px 0px;
    padding: 2px 0px;
}

footer > a{
    color: #ebf0edd7;
text-decoration: none;
}

footer > a:hover{
    text-decoration: underline;
    color: bisque;
}

.texto01{
    color: var(--texto-fonte1);
    margin: 39px 0px;   
}

.texto02{
    color: var(--texto-fonte1);
    margin: 39px 0px;
}

p{color: var(--texto-fonte1);
font-family: var(--font_texto);
margin: 39px 0px;

text-align: justify;
text-indent: 30px;
line-height: 1.6em;
font-size: 1.2em;
}

.gif{  
    max-width: 700px ;
    max-height: 400px;
    margin: auto;
    display: block;
    box-shadow: 3px 3px 36px rgba(255, 255, 255, 0.322) ;
}

.win{
    max-width: 700px ;
    max-height: 400px;
    
    margin: auto;
    display: block;
    
}

div > iframe{
    position: absolute;
    top: 4%;
    left: 4%;
    width: 92%;
    height: 92%;
}

div.youtube{
    position: relative;
    background-color: #016d8e73;
    padding: 20px;
    margin: 80px -42.6px 80px -42.6px;
    padding-bottom: 58%;
   

}

.fim{
padding-bottom: 40px;
}






